.vs/
AdventureWorks.API/bin/
AdventureWorks.API/obj/
AdventureWorks.Commin/bin/
AdventureWorks.Commin/obj/
AdventureWorks.CommomData/bin/
AdventureWorks.CommomData/obj/
AdventureWorks.Data/bin/
AdventureWorks.Data/obj/
AdventureWorks.DataAccess/bin/
AdventureWorks.DataAccess/obj/
AdventureWorks.DataServices/bin/
AdventureWorks.DataServices/obj/
AdventureWorks.Tests/bin/
AdventureWorks.Tests/obj/
